//VARS
$white: #fff;
$black80: rgba(0, 0, 0, .8);
$black90: #1A1A1A;
$black801: #333333;
$main: #EAA649;
$gradient: linear-gradient(180deg, #F2CA7A 0%, #E5BB6D 18.75%, #DAAD61 34.9%, #CC9D53 49.48%, #C7964D 63.02%, #BE8C44 75.52%, #B5823C 88.02%, #AD7833 100%);
$gradient2: linear-gradient(180deg, #CFAE6B 0%, #C29F5D 18.75%, #B89250 34.9%, #AE8646 49.48%, #A47B3E 63.02%, #976F35 75.52%, #8C642C 88.02%, #845B26 100%);


html, body {
  height: 100%;
}

body {
  font-weight: 300;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 14px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $main;
  }
}

button {
  border: none;
  background: transparent;
  display: block;
  cursor: pointer;
}

i.fa {
  cursor: pointer;
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

//HEADER

.header {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  padding: 10px 0;
  z-index: 2;
}

.header-relative {
  position: relative;
}

.menu__burger {
  display: none;
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  transition: all .2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1.5px;
    background: $white;
    top: 25%;
    left: 50%;
    transform: translateX(-52%);
    z-index: 2;
    transition: all .3s ease-out;
  }

  &::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 1.5px;
    background: $white;
    bottom: 25%;
    left: 50%;
    transform: translateX(-52%);
    z-index: 2;
    transition: all .3s ease-out;

  }

  span {
    position: absolute;
    width: 20px;
    height: 1.5px;
    background: $white;
    top: calc(50% - 0.75px);
    left: 50%;
    transform: translateX(-52%);
    z-index: 2;
    transition: opacity .3s ease-out;
  }

  &.menu-open {
    span {
      opacity: 0;
    }

    &::after {
      top: 48%;
      transform: translate(-52%, -52%) rotate(45deg);
    }

    &::before {
      bottom: 47%;
      transform: translate(-52%, -52%) rotate(-45deg);
    }
  }
}


.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  .logo__text {
    font-weight: bold;
    font-size: 1.2rem;
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    padding: 0 10px;
  }

  img {
    display: block;
    width: 50px;
    background: $black90;
    border-radius: 50%;
  }
}

.menu__nav {
  .nav__item {
    padding: 5px;
  }
}

//MAIN

.main {
  flex: 1 1 auto;
}

.section {
  &:nth-child(2n + 3) {
    background: rgba(0, 0, 0, .03);
  }

  padding: 25px 0;

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .section__title {
    text-align: center;
    margin-bottom: 15px;
  }

  .section__wrapper {
    overflow: hidden;
  }
}

//FIRST SCREEN

#first-screen {
  height: 100vh;
  background-image: url("../../img/first.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 7px 20px rgba(0, 0, 0, 0.75);

  .first-screen__subtitle {
    font-size: 40px;
  }

  .first-screen__title {
    font-size: 80px;
  }
}

//BOOKING

#booking {
  background: $black801;
  color: $white;
  position: relative;
  z-index: 4;

  .section__wrapper {
    overflow: visible;
  }

  .section__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;

    a {
      display: flex;
    }
  }

  .booking__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    background: $gradient;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;

    svg {
      fill: $white;
      width: 20px;
      height: 20px;

      g {
        fill: $white;
      }
    }


    &:hover {
      background: $gradient2;
    }

    &.btn_center {
      justify-content: center;
      text-align: center;
    }
  }

  .booking__select {
    color: black;
  }

  .booking__cancel {
    text-align: center;
    margin-top: 10px;
  }

}

//ROOMS
.room__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;


  .room__gallery {
    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .room__info {
    display: flex;
    flex-direction: column;

    .room__text {
      flex: 1 1 auto;

      .text__title {
        margin-bottom: 5px;
      }
    }

    .room__cost {
      .cost__title {
        margin-bottom: 10px;
      }

      .cost__btn {
        display: block;
        border: 2px solid $main;
        border-radius: 15px;
        padding: 10px 15px;
        width: 100%;

        &:hover {
          background: $main;
        }
      }
    }
  }
}

//GALLERY
#gallery {
  .gallery {
    img {
      display: block;
      margin: 0 auto;
      border-radius: 15px;
    }
  }
}

//CONTACTS
#contacts {
  padding: 0;
  position: relative;

  .contacts {
    background: $black80;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 30px 25px 20px;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 50px;
    z-index: 1;

    .contacts__title {
      margin-bottom: 10px;
    }

    .contacts__item {
      margin-bottom: 15px;

      .item__title {
        margin-bottom: 5px;
      }

      .item__info {
        svg {
          margin-right: 5px;
          width: 10px;
          height: 10px;

          g {
            fill: $white;
          }
        }
      }
    }
  }
}


//PHONE WIDGET

.phone-widget {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: $gradient;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 3;

  &:hover {
    background: $gradient2;
  }

  svg {
    width: 25px;
    height: 25px;
    fill: $white;

    g {
      fill: $white;
    }
  }
}


//FOOTER

.footer {
  background: $black90;
  color: $white;
  position: relative;
  z-index: 4;
  padding: 30px 0;

  h3 {
    font-size: 1.2rem;
  }

  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;

    img {
      display: block;
      width: 75%;
    }
  }

  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;

    .footer-nav__item {
      .item__title {
        margin-bottom: 10px;
      }

      .item__link {
        margin-bottom: 5px;

        svg {
          width: 10px;
          height: 10px;
          margin-right: 5px;

          g {
            fill: $white;
          }
        }
      }
    }
  }
}


//MEDIA

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
  #contacts {
    .contacts {
      max-width: 33%;
    }
  }
}

@media screen and (max-width: 635px) {
  .container {
    padding: 0 20px;
  }

  .header.menu-open {
    z-index: 11;

    .menu__logo {
      z-index: 12;
    }
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: $black80;
    transform: translateX(100vw);
    transition: transform ease .3s;

    .nav__item {
      font-size: 1.4rem;
    }
  }

  .menu__nav.menu-open {
    transform: translateX(0);
  }

  .menu__burger {
    display: block;
  }

  #first-screen {
    .first-screen__subtitle {
      font-size: 2rem;
    }

    .first-screen__title {
      font-size: 3rem;
    }
  }

  #booking {
    .section__main {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }


  .room__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 30px;


    .room__gallery {
      img {
        width: 100%;
        border-radius: 15px;
      }
    }

    .room__info {
      .room__text {
        flex: 0 0 auto;
        margin-bottom: 15px;
      }
    }
  }

  #gallery {
    .container {
      padding: 0;

      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }


  #contacts {
    .contacts {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
      border-radius: 0;
      background: $black801;
    }
  }


  .footer {
    padding: 20px 0;

    .footer__wrapper {
      grid-template-areas: 'img img' 'text text';
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      img {
        width: 50%;
        grid-area: img;
      }
    }

    .footer-nav {
      grid-area: text;
      grid-template-areas: 'text1 text2' 'text3 text3';
      grid-template-columns: 1fr 1fr;
      margin-top: 10px;
      justify-items: center;

      .footer-nav__item {
        margin-bottom: 10px;

        .item__title {
          margin-bottom: 10px;
        }

        .item__link {
          margin-bottom: 5px;

          svg {
            width: 10px;
            height: 10px;

            g {
              fill: $white;
            }
          }
        }

        &:nth-child(1) {
          grid-area: text1;
        }

        &:nth-child(2) {
          grid-area: text2;
        }

        &:nth-child(3) {
          grid-area: text3;
          text-align: center;
        }

      }
    }
  }

}